root = "."
tmp_dir = "tmp"

[build]
  cmd = "$(go env GOPATH)/bin/templ generate && node_modules/.bin/tailwindcss -i assets/tailwind.css -o public/tailwind.css --minify && node_modules/.bin/esbuild assets/app.js --outdir=public --minify && go build -o ./tmp/main ."
  bin = "./tmp/main"
  delay = 1000
  exclude_dir = ["tmp", "node_modules", "data", ".git", "public"]
  exclude_regex = ["_test\\.go$", "_templ\\.go$"]
  exclude_unchanged = false
  follow_symlink = false
  include_ext = ["go", "templ", "js", "css"]
  include_dir = []
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = true

[screen]
  clear_on_rebuild = false
  keep_scroll = true
