package views

import "github.com/eringen/pubengine"

templ Pagination(page pubengine.Pagination, receiver string) {
 if page.Previous != "" || page.Next != "" {
  <nav aria-label="Pagination" class="flex justify-between my-6">
   if page.Previous != "" {
    <a rel="prev" class="inline-flex rounded-lg border border-gray-300 px-4 py-2 text-sm font-medium hover:bg-gray-50" href={ templ.SafeURL(page.Previous) } if receiver != "" { sender={ receiver + " get: " + page.Previous + " apply: inner" } }>Previous</a>
   }
   if page.Next != "" {
    <a rel="next" class="ml-auto inline-flex rounded-lg border border-gray-300 px-4 py-2 text-sm font-medium hover:bg-gray-50" href={ templ.SafeURL(page.Next) } if receiver != "" { sender={ receiver + " get: " + page.Next + " apply: inner" } }>Next</a>
   }
  </nav>
 }
}
